*{
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    font-size: 12px;
}
img{
    vertical-align: middle;
    border: 0 solid #000;
}
input,button{
    vertical-align: top;
}
table{
    border-collapse: collapse;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: red;
}
ul,ol{
    list-style: none;
}
