@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634866290959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youfanhui-copy:before {
  content: "\e649";
}

.icon-iconfontzhizuobiaozhun023101:before {
  content: "\e667";
}

.icon-wode:before {
  content: "\e67b";
}

.icon-sousuo:before {
  content: "\e6d9";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-faxian:before {
  content: "\e608";
}

.icon-zhibo:before {
  content: "\e615";
}

.icon-wenzhang:before {
  content: "\e61b";
}

