body {
    width: 7.5rem;
    display: flex;
    flex-direction: column;
    height: 100vh;

}
#header {
    width: 6.84rem;
    height: 1.36rem;
    padding-left: 0.36rem;
    padding-right: 0.3rem;
    line-height: 1.36rem;
    display: flex;
}
#header a,#header span {
    font-size: 0.38rem;
	color: #000000;
}
#header a:nth-child(1) {
	color: #fd2852;
    align-self: flex-start;
}
#header a:nth-child(2) {
    align-self: flex-start;
    margin-left: 0.56rem;
    flex: 1;
    
}
#main {
    overflow: auto;
    flex: 1;
    
    
}
#banner {
    width: 7.5rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
}
#banner img {
    width: 7.5rem;
    height: 4.4rem;

}
#nav ul {
    display: flex;
    width: 6.46rem;
	height: 1.59rem;
    padding-right: 0.52rem;
    padding-left: 0.52rem;
    align-items: center;
}
#nav li {
    width: 25%;
    text-align: center;

    
}
#nav li p {
    font-size: 0.26rem;
	color: #000000;
}
#nav li img {
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.22rem;
}

#jingcai {
    width: 6.9rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

}
#jingcai .top{
    display: flex;
    justify-content: space-between;
    margin-top: 0.51rem;
    margin-bottom: 0.33rem;


}
#jingcai .top p:nth-child(1) {
    font-size: 0.36rem;
    color: #000;
}
#jingcai .top p,#jingcai .top span {
    font-size: 0.28rem;
	color: #999999;
}
#jingcai ul {
    display: flex;
    justify-content: space-between;
}
#jingcai img{
    width: 3.36rem;
    height: 2.06rem;
}
#jingcai p {
    font-size: 0.3rem;
	color: #000000;
}
#jingcai p span {
    font-size: 0.24rem;
	color: #999999;
}
#tv li{
    width: 7.02rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}
#tv li .right span {
    margin-right: 0;
    font-size: 0.26rem;
}
#tv li p {
    font-size: 0.28rem;
	color: #000000;
}
#tv li p span {
    font-size: 0.22rem;
	color: #999999;
}
#tv img {
    width: 2.7rem;
	height: 1.72rem;
    margin-right: 0.35rem;

}

#tv li p span:nth-child(2) {
    line-height: 0.7rem;
}

#footer ul {
    width: 6.5rem;
    height: 1rem;
    font-size: 0.22rem;
	color: #999999;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-between;
    align-items: center;

}
#footer ul li {
    text-align: center;
}
#footer ul li:hover {
    color: #fb7296;
}
#footer ul li:nth-child(3) {
    color: #fb7296;
}
#footer ul span {
    font-size: 0.34rem;
    line-height: 0.46rem;

}
